
header,footer{
	font-family: 'VT323', monospace;
	color:#191970 ;
	background-color:rgba(100,149,237);
	padding: 0.3%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5em;
	line-height: 1.5;		
} 
.fixo{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
.ajustes{
	line-height: 1;
	text-align: center;
}

.container{
	margin-top: 60%;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	position: relative;
}
@media screen and (max-width: 599px){
	.container{
		margin-top: 65%;
	}
}
@media screen and (min-width: 600px){
	.container{
		margin-top: 42%;
	}
}
@media only screen and (min-width:768px){
	.container{
		margin-top: 15%;
	}
	header{
		background-color:rgba(100,149,237);
		flex-direction: row;
		position: relative;
	}
	.menu-opcoes{
		position: absolute;
		right: 5%;
		top: 50%;
	}
	.menu-opcoes ul li{
		display: inline;
		margin-left: 10px;
	}
}

h1{
	font-family: 'Architects Daughter', cursive;
	text-align: center;
	font-size:2em;
	color: #6A5ACD;
	margin-top: 2%;
	margin-bottom: 2%;
	}

h2{
	text-align: center;
	font-size:1.7em;
	margin-top: 2%;
	margin-bottom: 2%;

}
p{
	font-family: 'VT323', monospace;
	font-size: 1.3em;
	color:#1C1C1C;
	text-align: justify;
	margin-top: 1.5%;
	margin-bottom: 1.5%;

}
.titulo{
	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	text-decoration: none;
	text-decoration: underline;
}

.imgtexto{
	width: 30%;
	border: 0.5em double;
	}	
figure{
	text-align: center;
}	
a:link {
	background:rgba(0,0,139,0.25);
	color: white;
 	text-decoration: none;
  	display: inline-block;
  	border-radius:1.3em;
  	margin-top: 1.5%;
	margin-bottom: 1.5%;
}
/* visited link */
a:visited {
  color: #DCDCDC;
}
 /*mouse over link*/ 
a:hover {
  color: #4F4F4F;
}
/* selected link */
a:active {
  	color: blue;
}*/
table{
	font-family: 'VT323', monospace;
	width: 80%
	border: 1em double;
	border-collapse:collapse;
	margin-top: 1.2%;
	margin-bottom: 1.2%;
}
th,td{
	border: 0.50em double; 
	color:#1C1C1C; 
	font-size: 1.5em;
	margin-top: 1.2%;
	margin-bottom: 1..2%;
}
.centro{
	text-align: center; 
}
.linguagem{
	background:rgba(0,0,139,0.25);
	border-radius:1.3em;
	padding: 2em 2em;	
	display: inline-block;
	text-align: center; 
}
.lestatexto{
	font-family: 'VT323', monospace;
	font-size: 1.3em;
	color:#1C1C1C;
	text-align: justify;
	margin-top: 1.1%;
	margin-bottom: 1.1%;
}

